<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="hamburger" onclick="toggleMenu(this)">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul id="nav-menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#certifications">Achievements</a></li>
            <li><a href="#volunteer">Volunteering</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
    


    
    <section id="home">

        <div class="content-left">
            <div class="intro-text">
                <img src="https://i.ibb.co/x77g4TK/sign.png" alt="Sign Icon" class="sign-icon">
                <p>Hey there, my name is</p>
                <div id="name">Vijay A</div>
            </div>
            <div class="rotating-text">
                <p>
                    <span class="word alizarin">Web Developer.</span>
                    <span class="word wisteria">IOT Developer.</span>
                    <span class="word peter-river">Volunteer.</span>
                </p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/vijay-ardhan-115780258/" target="_blank">
                    <img src="https://i.ibb.co/5XZbK5M/linkedin-3.png" alt="LinkedIn Icon">
                </a>
                <a href="mailto:vijayardhan32@gmail.com">
                    <img src="https://i.ibb.co/C56W2r3/gmail-2.png" alt="Gmail Icon">
                </a>
                <a href="https://github.com/Vijayardhan" target="_blank">
                    <img src="https://i.ibb.co/kyLRmQX/github.png" alt="GitHub Icon">
                </a>
            </div>
            <a href="#Contact" class="contact-button">Contact Me</a>
        </div>
        <div class="profile-container">
            <a href="https://i.ibb.co/WFkrKc4/professional-removebg-preview.png" target="_blank">
                <div class="profile-circle">
                    <img src="https://i.ibb.co/WFkrKc4/professional-removebg-preview.png" alt="Profile Picture">
                </div>
            </a>
        </div>
    </section>
    



    <section id="about">
        <div class="about-container">
            <div class="about-box">
                <div class="profile-wrapper-1">
                    <div class="profile-circle-1">
                        <img src="https://i.ibb.co/SnMjzVR/Untitled-design-4.png" alt="Profile Picture">
                    </div>
                    <div class="about-content">
                        <p>I'm a final year Electronics and Communication Engineering student with a solid background in IoT, automation, and Web development. Currently, I'm working as a project trainee at Scrapify Ecotech Pvt. Ltd. on the Ecofloater water drone project, and have previously interned at Streamtroops Innovation Lab as PD-Electronics and Vlog Innovation as IOT intern. My software skills are enhanced by Front-End Developer internships at CodeClause and OasisInfobyte, where I focused on HTML, CSS, JavaScript, MongoDB, and Flask. I also hold a Lean Six Sigma Foundation certification. I’m excited to leverage my expertise at the intersection of electronics and technology.</p>
                    </div>
                </div>
                <a href="https://drive.google.com/file/d/1AXUD0I3PVBfURaaigoHq5WqALPVEBkw6/view?usp=sharing" class="resume-button" target="_blank">Resume</a>
            </div>
        </div>
    </section>

    <section id="about-extend">
        <div class="vertical-line">
            <div class="circle top-circle" style="background-image: url('https://i.ibb.co/1Rh3XwG/Untitled-design-7.png');"></div>
            <div class="circle bottom-circle" style="background-image: url('https://i.ibb.co/tDyRPTb/AKT.jpg');"></div>
        </div>
        <div class="left-box">
            <div class="content">
                <h1>Velammal Engineering College</h1>
                <p class="specialization">Electronics and Communication Engineering</p>
                <p class="cgpa">Graduation - 2025    |    CGPA - 8.02</p>
        
                <div class="spacer"></div> <!-- Spacer for spacing between sections -->
        
                <h2>Volunteer Roles:</h2>
                <h3>Youth Red Cross - (2022-Present)</h3>
                <p>Joint Secretary ( 22- 23 ) : Coordinated and led various humanitarian initiatives.</p>
                <p>Treasurer ( 23 - Present ) : Managed financial operations and budgeting for the organization.</p>
                <h2>Organization:</h2>
                <p>Student Member, IETE (Institution of Electronics and Telecommunication Engineers)</p>
        
                <h2>Sports:</h2>
                <p>College Basketball Player</p>
            </div>
        </div>
        
        <div class="right-box">
            <div class="content">
                <h1>AKT Matriculation Hr. Sec. School</h1>
                <p class="specialization">Computer Science Group in HSC</p>
                <p class="percentage">Percentage: 90.76%</p>
        
                <div class="spacer"></div> <!-- Spacer for spacing between sections -->
        
                <h2>HSE Subjects:</h2>
                <p>Maths, Physics, Chemistry, Computer Science, English, and Tamil.</p>
        
                <h2>Activities:</h2>
                <p>State Moving Train Drawing Competition Winner, Drawing Class Lead.</p>
            </div>
        </div>
    </section>
    
    
    
    


    <section id="skills">
        <div class="skills-container">
            <div class="skill-box">
                <img src="https://i.ibb.co/rcgM2SK/html-5.png" alt="HTML">
                <p>HTML</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/V2mqt9f/css1.png" alt="CSS">
                <p>CSS</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/6gycwxx/javascript.png" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/F4ZhTkS/physics.png" alt="React">
                <p>React</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/cNHwJXB/pngegg.png" alt="Flask">
                <p>Flask</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/0KqXJYB/database-management.png" alt="DBMS">
                <p>DBMS</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/8Drx1Lb/python.png" alt="Python">
                <p>Python</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/pvLmD8N/letter-c.png" alt="C">
                <p>C</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/TYpt4LC/microchip.png" alt="Microcontrollers">
                <p>Microcontrollers</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/6HJbsGV/iot.png" alt="IoT">
                <p>IoT</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/54KY7yj/fire1-removebg-preview.png" alt="Firebase">
                <p>Firebase</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/4TGCHxm/system-integration.png" alt="Automation">
                <p>Automation</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/MDGJHrB/can.png" alt="Canva">
                <p>Canva</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/zJw3qt4/office365.png" alt="Excel">
                <p>Excel</p>
            </div>
            <div class="skill-box">
                <img src="https://i.ibb.co/hd3SpC6/office.png" alt="PowerPoint">
                <p>PowerPoint</p>
            </div>
        </div>
    </section>





    <section id="experience">
        <div class="center-line"></div>
    
        <div class="circle circle1">
            <img src="https://i.ibb.co/NL34sXd/Screenshot-2024-08-10-090956.png" alt="First Circle Image">
        </div>
        <div class="circle circle2">
            <img src="https://i.ibb.co/2sBvqnZ/Screenshot-2024-08-10-000055-removebg-preview.png" alt="Second Circle Image">
        </div>
        <div class="circle circle3">
            <img src="https://i.ibb.co/HYhvwCF/Screenshot-2024-08-09-235844.png" alt="Third Circle Image">
        </div>
        <div class="circle circle4">
            <img src="https://i.ibb.co/dMkQ4Pm/Screenshot-2024-08-09-235907.png" alt="Fourth Circle Image">
        </div>
        <div class="circle circle5">
            <img src="https://i.ibb.co/Zfbw05P/Screenshot-2024-08-09-235935.png" alt="Fifth Circle Image">
        </div>
        <div class="circle circle6">
            <img src="https://i.ibb.co/10tDvPh/Screenshot-2024-08-09-235956.png" alt="Sixth Circle Image">
        </div>
        
        <div class="experience-box box1">
            <div class="box-content">
                <div class="company-name">Scrapify Ecotech Pvt. Ltd.</div>
                <div class="role-duration">Role: Project Trainee | Internship</div>
                <div class="dates">19/Feb/2024 - Present</div>
                
                <div class="description">
                    <div class="point">• As a project trainee, I am currently working on the development of Ecofloater, an automated water drone aimed at revitalizing water bodies for sustainability.</div>
                    <div class="point">• Leading the motor department, I possess extensive knowledge in fabrication, communication, and automation.</div>
                    <div class="point">• Through this role, I have gained a wide range of experience and established networks. The startup is incubated in the iTnt hub at Anna University, providing abundant resources and mentorship, with additional guidance from IITM.</div>
                </div>
    
                <div class="tech-stack">Tech Stack:</div>
                <div class="tech-list">
                    <span>IOT</span>
                    <span>Fabrication</span>
                    <span>Frontend</span>
                    <span>Backend (Springboot)</span>
                    <span>Excel</span>
                    <span>PowerPoint</span>
                    <span>Automation</span>
                    <span>Motor Configuration</span>
                    <span>Transmission</span>
                </div>
            </div>
            <div class="button-container">
                <button class="certificate-btn" onclick="showNote()">Certificate</button>
                <button class="website-btn" onclick="window.open('https://scrapifyecotech.in/', '_blank')">Website</button>
            </div>
        </div>
    
        
        <div class="experience-box box2">
            <div class="box-content">
                <div class="company-name">VLOG Innovation Limited ( LP )</div>
                <div class="role-duration">Role : Electronics with IOT | Internship</div>
                <div class="dates">01/Dec/2023 - 31/Dec2023</div>
        
                <div class="description">
                    <div class="point">• At Vlog Innovation LLP, I delved into electronics with a focus on IoT.</div>
                    <div class="point">• Acquired valuable expertise in IoT applications, web dashboard development, and various aspects of electronic innovations.</div>
                    <div class="point">• Worked with Arduino Cloud and ThingSpeak, enriching my practical skills and contributing to a rewarding learning journey.</div>
                </div>
        
                <div class="tech-stack">Tech Stack :</div>
                <div class="tech-list">
                    <span>IOT</span>
                    <span>Web Dev</span>
                    <span>Frontend</span>
                    <span>API</span>
                    <span>ThingSpeak</span>
                    <span>Microcontrollers</span>
                    <span>Arduino Cloud</span>
                </div>
            </div>
            <div class="button-container">
                <button class="certificate-btn" onclick="window.open('https://drive.google.com/file/d/1ySJTLXQGgajD-6WqMlTMS4hbNFJctUww/view?usp=sharing', '_blank')">Certificate</button>
                <button class="website-btn" onclick="window.open('https://vloginnovations.com/', '_blank')">Website</button>
              </div>
        </div>


        <div class="experience-box box3">
            <div class="box-content">
                <div class="company-name">CodeClause</div>
                <div class="role-duration">Role: Webdeveloper | Internship</div>
                <div class="dates">01/Nov/2023 - 31/Dec/2023</div>
        
                <div class="description">
                    <div class="point">• Acquired hands-on experience in front-end and back-end technologies, with a strong focus on HTML, CSS, and JavaScript.</div>
                    <div class="point">• Actively contributed to real-world projects, implementing best practices in coding and design to develop responsive and user-friendly web solutions.</div>
                    <div class="point">• Enhanced my problem-solving skills and gained a deeper understanding of the complete development cycle, from concept to deployment.</div>
                </div>
        
                <div class="tech-stack">Tech Stack:</div>
                <div class="tech-list">
                    <span>Web Dev</span>
                    <span>Frontend</span>
                    <span>API</span>
                    <span>Github</span>
                    <span>Vercel</span>
                    <span>Flask</span>
                    <span>MongoDB</span>
                    <span>Python</span>
                </div>
            </div>
            <div class="button-container">
                <button class="certificate-btn" onclick="window.open('https://drive.google.com/file/d/14YSm6eYtYPC6fzMbURL5UHuMC05HRTWl/view?usp=sharing', '_blank')">Certificate</button>
                <button class="website-btn" onclick="window.open('https://codeclause.com/', '_blank')">Website</button>
              </div>
        </div>


        <div class="experience-box box4">
            <div class="box-content">
                <div class="company-name">Oasis Infobyte</div>
                <div class="role-duration">Role: Webdeveloper | Internship</div>
                <div class="dates">01/Nov/2023 - 31/Dec/2023</div>
        
                <div class="description">
                    <div class="point">• At Oasis Infobyte, I immersed myself in full-stack web development, gaining hands-on experience with both front-end and back-end technologies.</div>
                    <div class="point">• I worked extensively with HTML, CSS, and JavaScript on the front end, while utilizing Flask as a back-end framework and MongoDB for database management</div>
                    <div class="point">• Contributing to real-world projects allowed me to build dynamic and responsive web applications, strengthening my problem-solving skills and deepening my understanding of the entire development process—from designing user interfaces to deploying robust solutions.</div>
                </div>
        
                <div class="tech-stack">Tech Stack:</div>
                <div class="tech-list">
                    <span>Web Dev</span>
                    <span>Frontend</span>
                    <span>Backendframe</span>
                    <span>API</span>
                    <span>Git</span>
                    <span>Github</span>
                    <span>Vercel</span>
                    <span>Flask</span>
                    <span>MongoDB</span>
                    <span>Python</span>
                </div>
            </div>
            <div class="button-container">
                <button class="certificate-btn" onclick="window.open('https://drive.google.com/file/d/1tS1MKuVGluYfudoKsvxE_KD1_blRhuuE/view?usp=sharing', '_blank')">Certificate</button>
                <button class="website-btn" onclick="window.open('https://oasisinfobyte.com/', '_blank')">Website</button>
              </div>
        </div>
        
        
        <div class="experience-box box5">
            <div class="box-content">
                <div class="company-name">STEAM Troops Innovation Labs Pvt. Ltd.</div>
                <div class="role-duration">Role: Product Development Electronics | Internship</div>
                <div class="dates">14/June/2023 - 15/Sep/2023</div>
        
                <div class="description">
                    <div class="point">• In holistic electronics product development, I emphasize cross-functional collaboration to achieve objectives.</div>
                    <div class="point">• I play a vital role in creating innovative solutions tailored for children, actively contributing to ideation, design, and implementation phases.</div>
                    <div class="point">• Additionally, I am involved in marketing, advertising, R&D, and other related areas, ensuring that our products strike the right balance between educational value, safety, and engaging design.</div>
                </div>
        
                <div class="tech-stack">Tech Stack:</div>
                <div class="tech-list">
                    <span>Prototyping</span>
                    <span>Product Design Support</span>
                    <span>Communication</span>
                    <span>Problem Solving</span>
                    <span>Product Development</span>
                    <span>Electronics</span>
                    <span>Vendor Management</span>
                </div>
            </div>
            <div class="button-container">
                <button class="certificate-btn" onclick="window.open('https://drive.google.com/file/d/1MMIniMo23QrOrVQvZCdSAC9LxbeDS8Il/view?usp=sharing', '_blank')">Certificate</button>
                <button class="website-btn" onclick="window.open('https://www.steamtroops.com/', '_blank')">Website</button>
              </div>
        </div>


        <div class="experience-box box6">
            <div class="box-content">
                <div class="company-name">NSIC Technical Services Centre</div>
                <div class="role-duration">Role: Student Intern | Inplant Training</div>
                <div class="dates">23/Jan/2023 - 31/Jan/2023</div>
        
                <div class="description">
                    <div class="point">• I successfully completed an intensive certification in Industrial-Based Embedded Systems with AI & IoT, accredited by NSIC, a respected government body.</div>
                    <div class="point">• This program enhanced my skills in PCB design and assembly, provided a deep understanding of IoT technologies, and explored the innovative convergence of AI and IoT.</div>
                    <div class="point">• This comprehensive training has equipped me to develop advanced solutions and leverage cutting-edge technologies effectively.</div>
                </div>
        
                <div class="tech-stack">Tech Stack:</div>
                <div class="tech-list">
                    <span>Printed Circuit Board (PCB) Design</span>
                    <span>Internet of Things (IoT)</span>
                </div>
                <div class="button-container">
                    <button class="certificate-btn" onclick="window.open('https://drive.google.com/file/d/1GGnxGOn159HgQWHCjVY28IqHJ4y1V1-f/view?usp=sharing', '_blank')">Certificate</button>
                    <button class="website-btn" onclick="window.open('https://www.nsic.co.in/', '_blank')">Website</button>
                  </div>
                
            </div>
        </div>
        
        
    </section>
    
    
    
    
    
    
      
    



    <div id="projects">
        <button class="nav-button" id="prev-project">&lt;</button>
    
        <!-- Existing Projects -->
        <div class="project-container" id="project-1">
            <div class="project-image">
                <img src="https://i.ibb.co/nq2cYZh/mav.jpg" alt="Dr. Mav Project Image">
            </div>
            <div class="project-details">
                <div class="project-title">Dr. Mav</div>
                <div class="project-subtitle">Vital Sign Monitoring Rover</div>
                <div class="project-description">
                    A hospital rover, remotely controlled via joystick or web, allows doctors to observe patients and access vital signs through a dashboard. It features UV sterilization, contactless heart rate and temperature measurement, and stores all data for emergency response.
                </div>
                <!-- <a href="#" class="read-more">Read More</a> -->
            </div>
        </div>
    
        <div class="project-container" id="project-2" style="display: none;">
            <div class="project-image">
                <img src="https://i.ibb.co/s6vwpFz/car.png" alt="Mobile Operated Car Image">
            </div>
            <div class="project-details">
                <div class="project-title">Mobile Operated Car</div>
                <div class="project-subtitle">Mobile Operated Vehicle using App</div>
                <div class="project-description">
                    We developed a mobile app-controlled vehicle using an Arduino microcontroller to manage motor control and navigation. The Arduino interprets commands from the app, enabling precise forward, backward, left, and right movements. This project offers a hands-on introduction to IoT and robotics, blending software and hardware for an educational and fun experience—like having your own robot car at your command!
                </div>
                <!-- <a href="#" class="read-more">Read More</a> -->
            </div>
        </div>
    
        <!-- New Project -->
        <div class="project-container" id="project-3" style="display: none;">
            <div class="project-image">
                <img src="https://i.ibb.co/MZHgC6w/Screenshot-2024-08-10-122433.png" alt="Obstacle Avoidance Robot Image">
            </div>
            <div class="project-details">
                <div class="project-title">Obstacle Avoidance Robot</div>
                <div class="project-subtitle">Ultrasonic used Obstacle Avoidance Robot</div>
                <div class="project-description">
                    Our obstacle avoidance vehicle project uses Arduino and a motor driver to build a smart system capable of navigating its environment by detecting and avoiding obstacles. This versatile solution highlights the practical application of innovative technologies in real-world scenarios.
                </div>
                <!-- <a href="#" class="read-more">Read More</a> -->
            </div>
        </div>
    
        <button class="nav-button" id="next-project">&gt;</button>
    </div>
    
    
    
    

    






    <!-- Certifications Section -->
    <section id="certifications">
        <div class="certifications-wrapper">
            <div class="certification-container">
                <h2 class="certification-title">RAISEathon</h2>
                <img src="https://i.ibb.co/fSyTj34/Whats-App-Image-2024-08-10-at-12-40-01-PM.jpg" alt="RAISEathon Image" class="certification-image">
                <h3 class="certification-subtitle">Winner</h3>
                <p class="certification-date">12/Mar/2024 - Coimbatore</p>
                <p class="certification-organization">AIC Raise - Atal Incubation Centre</p>
                <p class="certification-description">CHAMPIONS at the RAISEathon Hackathon organized by AIC RAISE</p>
            </div>
    
            <div class="certification-container">
                <h2 class="certification-title">Hacktrix2.0</h2>
                <img src="https://i.ibb.co/gjc6c2J/Whats-App-Image-2024-08-10-at-12-40-21-PM.jpg" alt="Hacktrix2.0 Image" class="certification-image">
                <h3 class="certification-subtitle">2nd Runner-up</h3>
                <p class="certification-date">07/Mar/2024 - Coimbatore</p>
                <p class="certification-organization">SKCT - Sri Krishna College of Technology</p>
                <p class="certification-description">2nd runner-up position, hosted by GDSC SKCT of Sri Krishna College of Technology</p>
            </div>
    
            <div class="certification-container">
                <h2 class="certification-title">TECFEST'24</h2>
                <img src="https://i.ibb.co/s6vwpFz/car.png" alt="TECFEST'24 Image" class="certification-image">
                <h3 class="certification-subtitle">1st Place</h3>
                <p class="certification-date">26/Mar/2024 - Chennai</p>
                <p class="certification-organization">Tagore Engineering College</p>
                <p class="certification-description">Securing 1st prize in the paper presentation hosted by Tagore Engineering College.</p>
            </div>
        </div>
    </section>
    





    <section id="volunteer">
        <div class="volunteer-container">
            <div class="volunteer-item">
                <h2 class="volunteer-title">Youth Red Cross</h2>
                <img src="https://i.ibb.co/McFm5V3/tres.jpg" alt="Youth Red Cross Logo" class="volunteer-image">
                <div class="volunteer-details">
                    <h3 class="volunteer-role">Treasurer</h3>
                    <p class="volunteer-organization">YRC - Velammal Engineering College</p>
                    <p class="volunteer-duration">10/oct/2023 - Present</p>
                    <p class="volunteer-description">My Tenure as Treasurer at Youth Red Cross, handling the funding of the organization. which comes under Indian Red Cross Society.</p>
                </div>
            </div>
    
            <div class="volunteer-item">
                <h2 class="volunteer-title">Youth Red Cross</h2>
                <img src="https://i.ibb.co/b6J5wLZ/Screenshot-2024-08-10-153736.png" alt="Youth Red Cross Logo" class="volunteer-image">
                <div class="volunteer-details">
                    <h3 class="volunteer-role">Joint Secretary</h3>
                    <p class="volunteer-organization">YRC - Velammal Engineering College</p>
                    <p class="volunteer-duration">10/oct/2022 - 10/oct/2023</p>
                    <p class="volunteer-description">Completed My Tenure as Joint-Secretary role at Youth Red Cross, handling the Event Organizing. which comes under Indian Red Cross Society.</p>
                </div>
            </div>
    
            <div class="volunteer-item">
                <h2 class="volunteer-title">Police Department</h2>
                <img src="https://i.ibb.co/FDSh5JP/FOP.jpg" alt="Friends Of Police Logo" class="volunteer-image">
                <div class="volunteer-details">
                    <h3 class="volunteer-role">Friends Of Police - FOP</h3>
                    <p class="volunteer-organization">Thiyagadurugam Police Station</p>
                    <p class="volunteer-duration">10/oct/2023 - Present</p>
                    <p class="volunteer-description">Working as FOP with the police officials during the Covid situation controlling the public in the lockdown.</p>
                </div>
            </div>
        </div>
    </section>
    
    




    <section id="Contact">
        <div class="custom-container">
            <h2>Contact Us</h2>
            <form id="custom-contact-form">
                <div class="custom-form-group">
                    <label for="name">Name *</label>
                    <input type="text" id="name" name="from_name" required>
                </div>
                <div class="custom-form-group">
                    <label for="email">Email ID *</label>
                    <input type="email" id="email" name="reply_to" required>
                </div>
                <div class="custom-form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone_number">
                </div>
                <div class="custom-form-group">
                    <label for="place">Place *</label>
                    <input type="text" id="place" name="place" required>
                </div>
                <div class="custom-form-group">
                    <label for="message">Message *</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <div class="custom-cont">
                    <button type="submit">
                        <span>Send Message</span>
                        <img src="https://img.icons8.com/ios-filled/50/ffffff/checkmark.png" alt="tick" width="30px" height="30px">
                    </button>
                </div>
            </form>
        </div>
    </section>
    
    
    
    <!-- Footer section -->
    <footer>
        <p>Copyright &copy; 2024 Vijay A</p>
    </footer>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("Xux9SbuMW5nrzVT9r");
        })();
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
    window.onload = function() {
    const contactForm = document.getElementById('custom-contact-form');
    const contactSection = document.getElementById('Contact');
    const sendButton = document.querySelector('.custom-cont button');
    const buttonSpan = sendButton.querySelector('span');
    const buttonImage = sendButton.querySelector('img');

    contactForm.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        
        // Add 'sent' class to trigger tick animation
        sendButton.classList.add('sent');
        
        // Disable scrolling temporarily
        document.body.style.overflow = 'hidden';
        
        // Send the form data using emailjs
        emailjs.sendForm('service_5txt3hb', 'template_1wep6tj', this)
            .then(() => {
                Swal.fire({
                    title: 'Success!',
                    text: 'Your message has been sent successfully.',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    willClose: () => {
                        // Enable scrolling after the SweetAlert is closed
                        document.body.style.overflow = 'auto';

                        // Scroll back to the contact section
                        contactSection.scrollIntoView({ behavior: 'smooth' });

                        // Reset the form fields and remove 'sent' class after SweetAlert is closed
                        contactForm.reset();
                        sendButton.classList.remove('sent');
                    }
                });
            }, (error) => {
                Swal.fire({
                    title: 'Error!',
                    text: 'There was a problem sending your message. Please try again.',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    willClose: () => {
                        // Enable scrolling after the SweetAlert is closed
                        document.body.style.overflow = 'auto';

                        // Scroll back to the contact section
                        contactSection.scrollIntoView({ behavior: 'smooth' });

                        // Remove 'sent' class in case of error
                        sendButton.classList.remove('sent');
                    }
                });
                console.error('EmailJS Error:', error);
            });
    });
}



    </script>
    





    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>